body{ background-color:lightgray;}

h1, h3, p {
        color:black;
        font-family: 'Times New Roman', Times, serif;
        line-height: 10px;
   
}

h1 { text-align: center; 
    font-size: 65px;}

h3 { text-align: center; 
        font-size: 14px;
        margin-bottom: 20px;
    
    }

p { font-size: 11px;
    line-height: 15px;
    text-align: justify;
    

}



/* Add a black background color to the top navigation */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(200, 200, 200);
    color: white;
  }
  

   
  .header{
    color:white;
    border: 8px solid rgb(30, 30, 30);
    background-color:rgb(30, 30, 30);
    text-decoration: none;

    
}


  #footer{
      text-align: left;
      color: gray;
  }


  
  
